
.carga header{
    position: static;
}

.carga main{
    padding-bottom: 150px;
    box-shadow: 1px 0px 5px 4px rgba(0,0,0,0.125);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.carga main h2{
    text-align: center;
    margin: 10px;
    width: 100%;
    color: var(--azulOscuro);
    font-weight: 700;
}
.carga main .form{
    display: flex;
    flex-direction: column;
    width: 95%;
    box-shadow: 1px 0px 5px 4px rgba(0,0,0,0.125);
    align-items: center;
    max-width: 740px;
    border-radius: 20px;
    margin-top: 25px;
}
.carga main .form small{ 
    color: rgb(255, 0, 0);
    font-size: 15px;
    width: 85%;
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
}
.carga main .cancel{
    display: flex;
    flex-direction: column;
    width: 95%;
    align-items: center;
}
.carga main .cancel button{
    width: 60%;
    padding: 8px 10px;
   font-size: 15px;
   border: 0px;
   background:  var(--azul);
   color: #fff;
   cursor: pointer;
   border-radius: 3px;
   text-align: center; 
   margin-top: 10px;
}
.carga main form button{
    width: 60%;
   padding: 8px 10px;
  font-size: 15px;
  border: 0px;
  background:  var(--azul);
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  text-align: center; 
  margin-bottom: 10px;
}
.carga main form label{
    margin-left: 10px;
   font-size: 14px;
   font-weight: 900;
   color: var(--azul);
}
.carga main form input{
    width: 85%;
    outline: none;
    border: 1px solid #D5DBD9;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.5s ease;
    margin: auto;
    margin-bottom: 10px;
}
.carga select{
    width: 95%;
    text-align: center;
    font-size: 18px;
}
.inputInvalid{
  
    color: red;
  }
.inputValid{
    color: green;
  }

.carga  .preview{
    margin-top: 15px;
width: 90%;
}
@media(min-width:426px){

    .carga main form label{
        font-size: 18px;
    }
    .carga select{
        width: 85%;
        border-radius: 6px;
        
    }
    .carga  .preview{
        margin-top: 15px;
    width: 80%;
    }
    .carga main .form small{ 
        
        font-size: 18px;
        
    }
}