<!DOCTYPE html>
<html lang="es">
<!-- HEAD -->
<%- include('./partials/head') %>


<body class="bodyHome">
    <!-- HEADER -->
    <%- include('./partials/header') %>


    <main class="home">


        <div class="carrousel">
            <div class="slider" id="slider">

                <div class="slider_section">
                    <img class="c1" src="../images/carrousel/relojC.png" alt="">
                </div>
                <div class="slider_section">
                    <img class="c2" src="../images/carrousel/lamparaC.png" alt="">
                </div>
                <div class="slider_section">
                    <img class="c3" src="../images/carrousel/portaVelaC.png" alt=""> 
                </div>

                

            </div>
            <div class="flechal">
                <i class="fas fa-angle-left" id="botonLeft"></i>
            </div>
            <div class="flechar">
                <i class="fas fa-angle-right" id="botonRight"></i>
            </div>
        </div>


        <section>

            

        </section>

        <div class="top">
            <a href="#"><i class="fas fa-chevron-circle-up"></i></a>
        </div>
        <script src="/javascripts/home2.js"></script>
<script src="/javascripts/home.js"></script>
    </main>

    <!-- FOOTER -->
    <%- include('./partials/footer') %>

</body>
</html>